absl-py==0.7.1
astor==0.8.0
bleach==1.5.0
chardet==2.3.0
command-not-found==0.3
Django==1.8
gast==0.2.2
grpcio==1.22.0
html5lib==0.9999999
language-selector==0.1
Markdown==3.1.1
numpy==1.16.4
opencv-python==4.2.0.32
Pillow==6.1.0
protobuf==3.9.0
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.5
requests==2.9.1
six==1.10.0
ssh-import-id==5.5
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
torch==1.1.0
torchvision==0.3.0
ufw==0.35
urllib3==1.13.1
Werkzeug==0.15.5
